@import '~@flaticon/flaticon-uicons/css/all/all';
/* root {
  --bg-color: #282c34;
  --normal-color: #a8a778;
  --fighting-color: #c03128;
  --flying-color: #a890f0;
  --poison-color: #9f41a0;
  --ground-color: #e0bf68;
  --rock-color: #b9a038;
  --bug-color: #a8b720;
  --ghost-color: #6f5898;
  --steel-color: #b8b8d0;
  --fire: #f08030;
  --water-color: #6890f0;
  --grass-color: #78c84f;
  --electric-color: #f8cf30;
  --psychic-color: #f85788;
  --ice-color: #98d8d8;
  --dragon-color: #7138f8;
  --dark-color: #6f5848;
  --fairy-color: #ee99ac;
} */

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f1f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.scroll-btn {
  position: fixed;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.2rem;
  right: 50%;
  transform: translateX(50%);
  bottom: 4rem;

  font-size: 1.5rem;
  z-index: 1;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 6rem;
}

.scroll-btn:hover,
.scroll-btn:focus {
  opacity: 0.75;
  box-shadow: 0 8px 32px 0 rgba(13, 16, 58, 0.591);
  border: 2px solid #cbcbcb;
}

.normal {
  background-color: #a8a778;
}
.fighting {
  background-color: #c03128;
}
.flying {
  background-color: #a890f0;
}
.poison {
  background-color: #9f41a0;
}
.ground {
  background-color: #e0bf68;
}
.rock {
  background-color: #b9a038;
}
.bug {
  background-color: #a8b720;
}
.ghost {
  background-color: #6f5898;
}
.steel {
  background-color: #b8b8d0;
}
.fire {
  background-color: #f08030;
}
.water {
  background-color: #6890f0;
}
.grass {
  background-color: #78c84f;
}
.electric {
  background-color: #f8cf30;
}
.psychic {
  background-color: #f85788;
}
.ice {
  background-color: #98d8d8;
}
.dragon {
  background-color: #7138f8;
}
.dark {
  background-color: #6f5848;
}
.fairy {
  background-color: #ee99ac;
}
