:root {
  --bg-color: #282c34;
  --normal-color: #a8a778;
  --fighting-color: #c03128;
  --flying-color: #a890f0;
  --poison-color: #9f41a0;
  --ground-color: #e0bf68;
  --rock-color: #b9a038;
  --bug-color: #a8b720;
  --ghost-color: #6f5898;
  --steel-color: #b8b8d0;
  --fire-color: #f08030;
  --water-color: #6890f0;
  --grass-color: #78c84f;
  --electric-color: #f8cf30;
  --psychic-color: #f85788;
  --ice-color: #98d8d8;
  --dragon-color: #7138f8;
  --dark-color: #6f5848;
  --fairy-color: #ee99ac;
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.normal {
  background-color: var(--normal-color);
}
.fighting {
  background-color: var(--fighting-color);
}
.flying {
  background-color: var(--flying-color);
}
.poison {
  background-color: var(--poison-color);
}
.ground {
  background-color: var(--ground-color);
}
.rock {
  background-color: var(--rock-color);
}
.bug {
  background-color: var(--bug-color);
}
.ghost {
  background-color: var(--ghost-color);
}
.steel {
  background-color: var(--steel-color);
}
.fire {
  background-color: var(--fire-color);
}
.water {
  background-color: var(--water-color);
}
.grass {
  background-color: var(--grass-color);
}
.electric {
  background-color: var(--electric-color);
}
.psychic {
  background-color: var(--psychic-color);
}
.ice {
  background-color: var(--ice-color);
}
.dragon {
  background-color: var(--dragon-color);
}
.dark {
  background-color: var(--dark-color);
}
.fairy {
  background-color: var(--fairy-color);
}
